# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/

# Virtual env
venv/
ENV/
env/
*.env

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Large model files 

*.h5
*.keras
*.pt
*.ckpt
